@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@100;200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 74px;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/imagenav.svg);
  background-repeat: no-repeat;
  flex-direction: row-reverse;
  align-items: center;
}

.nav {
  justify-content: space-between;
  display: flex;
}

#menu {
  width: 20px;
  height: 14px;
  padding-right: 16px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 30px 16px;
}

.name {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.p-text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.collabo {
  margin-top: 40px;
  background: #1a2236;
  color: white;
  font-size: 16px;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.collabo i {
  padding-left: 15px;
}

button:hover {
  color: #1a2236;
  background-color: #ffff;
  border-style: none;
}

button:active {
  color: #1a2236;
  background-color: #ffff;
  border: 2px solid #1a2236;
}

.bgimg {
  background-image: url(/images/headline.svg);
  background-repeat: no-repeat;
  height: 200px;
  background-size: contain;
}

.name2 {
  margin: 40px 16px;
}

.card_work {
  width: 100%;
  justify-content: center;
  background-color: #1a2236;
  display: grid;
  grid-template-columns: 1fr;
}

.imgcard {
  min-width: 100%;
}

.project_details {
  display: flex;
  height: 156px;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  padding: 20px 36px 20px 20px;
}

.project_text {
  font-size: 20px;
  font-weight: 300;
  margin-top: -10px;
  font-family: 'Poppins', sans-serif;
}

.languages {
  padding: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 300;
}

.languages li {
  color: #1a2236;
  background: #98dede;
  padding: 4px 7px;
  list-style: none;
  text-align: center;
  margin-right: 10px;
}

.see_project {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 9px 15px;
  border: 1px solid white;
  margin-top: 10px;
}

.about {
  padding: 30px 16px 30px 16px;
  display: flex;
  flex-direction: column;
}

.box_info {
  padding: 70px;
  height: 200px;
  margin-top: 40px;
  color: #fff;
}

#language {
  background-color: #1c528a;
  background-image: url(/images/skillimg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#framework {
  background-color: #e2505c;
  background-image: url(/images/framework.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#skill {
  background-color: #febf52;
  background-image: url(/images/skill.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.box_info ul {
  padding-left: 18px;
  margin-top: 20px;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-size: contain;
  width: auto;
}

.form_img {
  background-image: url(/images/imagenav.svg);
  background-repeat: no-repeat;
  height: 74px;
  background-size: contain;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.form {
  margin-top: 50px;
  padding: 0 16px 30px 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.footer-list {
  list-style: none;
  margin-top: 32px;
}

label {
  color: #7d7c84;
  padding: 10px 0 0 12px;
  font-size: 10px;
}

input,
label {
  resize: none;
  width: 90vw;
  display: block;
  border: none;
}

textarea {
  padding: 15px 0 30px 16px;
  resize: none;
  height: 112px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

input,
textarea:focus {
  outline: none;
  color: #1a2236;
  font-size: 14px;
}

.inputfield {
  font-family: 'Poppins', sans-serif;
  height: 52px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.footer_section {
  flex-direction: column;

  /* height: 150px; */
  background-color: #1a2236;
  display: flex;
  color: #fff;
  padding: 32px 16px 40px 16px;
}

.footer_resume {
  display: flex;
  margin-left: 10px;
  color: #92dcdc;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer_resume i {
  padding-left: 5px;
}

.social_icon {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.social_icon li {
  list-style: none;
  justify-content: space-between;
  margin-right: 15px;
}
